html{ 
  background-color: rgb(57, 52, 52);
}

body{
  display:grid;
  gap: 20px;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

h2{
  font-size: 150px;
  font-family: sans-serif;
  color: black;
}

h3{
  font-size: 100px;
  font-family: sans-serif;
  color: black;
}

p{
  font-family: sans-serif;
  font-size: 100px;
  color: black;
}

#header{
  grid-column: 2/15;
  grid-row: 1/1;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 40px;
  color: rgb(0, 0, 0);
}

#element1 {
  size: 100px;
  grid-column: 2/15;
  grid-row: 2/7;
  background-image: url(bild1.jpg);
  background-size: 90%;
}

#element2 {
  grid-column: 2/15;
  grid-row: 7/12;
  background-image: url(bild2.jpg);
  background-size: 100%;

}

#element3 {
  grid-column: 2/15;
  grid-row: 12/17;
  background-image: url(bild3.jpg);
  background-size: 80%;
}   

@media only screen and (min-width: 720px) {
  body {
  display:grid;
  gap: 30px;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  width: 100vw;
  height: 100vh;
}

h2{
  size: 150px;
  color: rgb(0, 0, 0);
}

h3{
  size: 100px;
  color: rgb(0, 0, 0);
}

#element1 {
  grid-column: 2/11;
  grid-row: 2/16;
  background-image: url(bild1.jpg);
  overflow: auto;
}

#element2 {
  grid-column: 11/15;
  grid-row: 2/11;
  background-image: url(bild2.jpg);
  background-size: 100%;
  overflow: auto;
}

#element3 {
  grid-column: 11/15;
  grid-row: 11/16;
  overflow: auto;
  background-image: url(bild3.jpg);
  background-size: 80%;
}   
}